@model IEnumerable<AnyoneForTennis.Models.CoachIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Coaches</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoachId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoachId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @{
                var role = ViewData["Role"] as String;

                if (role.CompareTo("Admin") == 0)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CoachId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CoachId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CoachId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CoachId">Details</a>
                    </td>
                }
            }
        </tr>
}
    </tbody>
</table>
