@model AnyoneForTennis.Models.EventEnrollViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Enroll In Event</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunningCoach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunningCoach)
        </dd>
    </dl>

    <form asp-action="Enroll">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Enroll" class="btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

